@import "base";
@import "header";
@import "footer";

@mixin title() {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90deg, rgba(240, 20, 90, 1), rgba(239, 128, 128, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F0145A;
}

@mixin flex__column() {
  display: flex;
  flex-direction: column;
}

.header__section {
  padding-top: 50px;

  .header {

    &__language, &__address, &__telephone {
      color: #B3B3BA;
    }

    &__link {
      color: #24A3FF;
    }

    &__link:hover, &__link__active {
      color: #F0145A;
      border-bottom: 2px solid #F0145A;
    }

    &__facebook {
      svg {
        fill: #B3B3BA;
      }

      &:hover {
        svg {
          fill: #24A3FF;
        }
      }
    }
  }
}

.team__section {
  padding: 82px 0 60px;

  .team {
    @include flex__column();

    &__title {
      @include title();
      width: 100%;
      max-width: 864px;
      margin: 0 auto 80px;
    }

    &__grid {
      margin:0 auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      grid-template-rows: auto;
      gap: 40px;
    }

    &__item {
      height: 100%;
      @include flex__column();
      gap: 20px;
    }

    &__foto {
      width: 100%;
      max-width: 413px;
      height: 100%;
      margin-bottom: 20px;
    }

    &__content {
      display: flex;
      justify-content: space-between;
    }

    &__text__name__link {
      font-size: 18px;
      line-height: 21px;
      color: #323264;
      margin-bottom: 5px;

      &:hover {
        color: #F0145A;
      }
    }

    &__text__work {
      font-size: 16px;
      line-height: 22px;
      color: #B3B3BA;
    }
  }
}

.footer {
  padding-top: 32px;
}


@media screen and (max-width: 426px) {

  //.header__section {
  //  padding-top: 20px;
  //
  //  .header {
  //    margin-bottom: 0;
  //    flex-direction: column-reverse;
  //    gap: 20px;
  //    position: relative;
  //
  //    &__hamburger__box {
  //      display: flex;
  //    }
  //
  //    &__logo__link {
  //      max-width: 991px;
  //      text-align: start;
  //    }
  //
  //    &__dot, &__address, &__facebook, &__nav {
  //      display: none;
  //    }
  //
  //    &__languages {
  //      display: flex;
  //      align-items: center;
  //      gap: 10px;
  //    }
  //
  //    &__language {
  //      color: #B3B3BA;
  //    }
  //
  //    &__language:hover, &__active {
  //      color: #FFFFFF;
  //    }
  //
  //    &__telephone {
  //      color: #B3B3BA;
  //    }
  //
  //    &__languages__and__contacts, &__content {
  //      max-width: 991px;
  //    }
  //  }
  //}

  .team__section {
    padding: 30px 0 40px;

    .team {

      &__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
      }

      &__grid {
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
        gap: 20px;
      }

      &__item {
        flex-direction: row;
        max-height: 191px;
      }

      &__foto {
        max-width: 158px;
      }

      &__content {
        flex-direction: column;
        justify-content: end;
        gap: 10px;
        max-width: 157px;
      }

    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

  .header__section {
    padding-top: 20px;

    .header {
      margin-bottom: 0;
      flex-direction: column-reverse;
      gap: 20px;
      position: relative;

      &__hamburger__box {
        display: flex;
      }

      &__logo__link {
        max-width: 991px;
        text-align: start;
      }

      &__dot, &__address, &__facebook, &__nav {
        display: none;
      }

      &__languages {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__language {
        color: #B3B3BA;
      }

      &__language:hover, &__active {
        color: #FFFFFF;
      }

      &__telephone {
        color: #B3B3BA;
      }

      &__languages__and__contacts, &__content {
        max-width: 991px;
      }
    }
  }

  .team__section {
    padding: 30px 0 40px;

    .team {

      &__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .header__section {
    padding-top: 20px;

    .header {
      margin-bottom: 0;
      flex-direction: column-reverse;
      gap: 20px;
      position: relative;

      &__hamburger__box {
        display: flex;
      }

      &__logo__link {
        max-width: 991px;
        text-align: start;
      }

      &__dot, &__address, &__facebook, &__nav {
        display: none;
      }

      &__languages {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__language {
        color: #B3B3BA;
      }

      &__language:hover, &__active {
        color: #FFFFFF;
      }

      &__telephone {
        color: #B3B3BA;
      }

      &__languages__and__contacts, &__content {
        max-width: 991px;
      }
    }
  }

  .team__section {
    padding: 30px 0 40px;

    .team {

      &__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
      }
    }
  }
}
