@import "base";
@import "header";
@import "footer";

.header__section {
  padding-top: 50px;
  padding-bottom: 50px;

  .header {

    &__language, &__address, &__telephone {
      color: #B3B3BA;
    }

    &__link {
      color: #24A3FF;
    }

    &__link:hover, &__link__active {
      color: #F0145A;
      border-bottom: 2px solid #F0145A;
    }

    &__facebook {
      svg {
        fill: #B3B3BA;
      }

      &:hover {
        svg {
          fill: #24A3FF;
        }
      }
    }
  }
}

.publications__section {
  background: #F5F5FA;
  padding-top: 40px;
  padding-bottom: 60px;

  .publications__wrapper {
    @include flex__column();
    margin-bottom: 40px;
  }

  .publications__switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .tabs {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      background-color: #E6E6F0;
      border-radius: 12px;
      padding: 2px;

      &__item {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #323264;
        padding: 10px 30px;
        border-radius: 12px;

        &:hover {
          background-color: #F5F5FA;
          border-radius: 10px;
        }
      }

      &__active {
        background-color: #FFFFFF;
        border-radius: 10px;
      }
    }
  }

  .publications {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    &__columns {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &__img {
      width: 100%;
      max-width: 400px;
    }

    &__under__title__link {
      font-size: 18px;
      line-height: 21px;
      color: #24A3FF;
      margin-bottom: 10px;
    }

    &__date__text {
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #B3B3BA;
    }

    &__border__bottom {
      border-bottom: 4px solid #E6E6F0;
    }

    &__description {
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      padding-right: 15px;
    }

    &__card {
      width: 100%;
      max-width: 400px;
      @include flex__column;
      gap: 20px;
      background: #FFFFFF;
      border-radius: 8px;
    }

    &__text__box {
      @include flex__column;
      gap: 20px;
      padding: 0 20px 20px;
    }

    &__card1 {
      padding: 20px;
    }
  }

  .wrapper__button {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;

    .publications__button {
      @include button__link();

      &:hover {
        background: #0085FF;
      }

      &:active {
        background: #006CCF;
      }
    }

  }
}

@media screen and (max-width: 426px) {

  .header__section {
    padding-top: 20px;
    padding-bottom: 20px;

    .header {
      flex-direction: column-reverse;
      gap: 20px;
      position: relative;
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;

      &__hamburger__box {
        display: flex;
      }

      .header__hamburger {
        border: 1px solid #323264;
        background-color: #323264;

        &::before, &::after {
          content: '';
          border: 1px solid #323264;
          background-color: #323264;
        }
      }

      &__logo__link {
        max-width: 425px;
        text-align: start;
      }

      &__dot, &__address, &__facebook, &__nav {
        display: none;
      }

      &__languages {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__language {
        color: #B3B3BA;
      }

      &__language:hover, &__active {
        color: #FFFFFF;
      }

      &__telephone {
        color: #B3B3BA;
      }
    }
  }



}

@media screen and (min-width: 426px) and (max-width: 768px) {






}

@media screen and (min-width: 425px) and (max-width: 555px) {
}

@media screen and (min-width: 555px) and (max-width: 769px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 991px) and (max-width: 1370px) {

}

@media screen and (min-width: 1115px) and (max-width: 1370px) {


}