@import "base";
@import "header";
@import "footer";

.header__section {
  padding-top: 50px;
  padding-bottom: 50px;

  .header {

    &__language, &__address, &__telephone {
      color: #B3B3BA;
    }

    &__link {
      color: #24A3FF;
    }

    &__link:hover, &__link__active {
      color: #F0145A;
      border-bottom: 2px solid #F0145A;
    }

    &__facebook {
      svg {
        fill: #B3B3BA;
      }

      &:hover {
        svg {
          fill: #24A3FF;
        }
      }
    }
  }
}

.publications__section {
  background: #F5F5FA;
  padding-top: 40px;
  position: relative;
  z-index: 1;

  .base__container {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .publications__wrapper {
    @include flex__column();
  }

  .publications__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
  }

  .publications__arrow {
    transform: translateY(1px);
  }

  .publications__title {
    width: 100%;
    max-width: 412px;
    @include title();
    margin-bottom: 40px;
  }

  .publications {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 40px;

    &__img {
      width: 100%;
      max-width: 400px;
    }

    &__under__title__link {
      font-size: 18px;
      line-height: 21px;
      color: #24A3FF;
      margin-bottom: 10px;
    }

    &__data__text {
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #B3B3BA;
    }

    &__border__bottom {
      border-bottom: 4px solid #E6E6F0;
    }

    &__description {
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      padding-right: 15px;
    }

    &__card {
      width: 100%;
      max-width: 400px;
      @include flex__column;
      gap: 20px;
      background: #FFFFFF;
      border-radius: 8px;
    }

    &__text__box {
      @include flex__column;
      gap: 20px;
      padding: 0 20px 20px;
    }

    &__card1 {
      height: 100%;
      min-height: 265px;
      padding: 20px;
    }

    &__card2 {
      height: 100%;
      min-height: 420px;
    }

    &__card3 {
      height: 100%;
      min-height: 462px;
    }

    &__card4 {
      height: 100%;
      min-height: 441px;
      margin-top: -160px;
    }

    &__card5 {
      height: 100%;
      margin-top: -2px;
    }

    &__card6 {
      height: 100%;
      margin-top: 40px;
    }
  }

  .publications__button {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    @include button__link();

    &:hover {
      background: #0085FF;
    }

    &:active {
      background: #006CCF;
    }
  }
}

@media screen and (max-width: 426px) {


  .header__section {
    padding-top: 20px;
    padding-bottom: 20px;

    .header {
      flex-direction: column-reverse;
      gap: 20px;
      position: relative;
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;

      &__hamburger__box {
        display: flex;
      }

      .header__hamburger {
        border: 1px solid #323264;
        background-color: #323264;

        &::before, &::after {
          content: '';
          border: 1px solid #323264;
          background-color: #323264;
        }
      }

      &__logo__link {
        max-width: 425px;
        text-align: start;
      }

      &__dot, &__address, &__facebook, &__nav {
        display: none;
      }

      &__languages {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__language {
        color: #B3B3BA;
      }

      &__language:hover, &__active {
        color: #FFFFFF;
      }

      &__telephone {
        color: #B3B3BA;
      }
    }
  }


  .publications__section {
    padding-top: 20px;

    .publications__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    .publications {
      margin: 0 auto;
      row-gap: 20px;

      &__img {
        max-width: 426px;
      }

      &__border__bottom, &__description, &__card3, &__card5, &__card6 {
        display: none;
      }

      &__card {
        min-height: 0;
      }

      &__card4 {
        margin-top: 0;
      }
    }
  }

  .shadow3__section {
    position: absolute;
    z-index: 2;
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
    width: 100%;
    height: 100%;
    max-height: 200px;
    margin-top: -200px;

    &__bottom {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      @include button__link();

      &:hover {
        background: #0085FF;
      }

      &:active {
        background: #006CCF;
      }
    }
  }

}

@media screen and (min-width: 426px) and (max-width: 768px) {

  .background__section {

    .first__background {

      .header {
        flex-direction: column-reverse;
        gap: 20px;
        position: relative;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;

        &__content {
          max-width: 769px;
        }

        &__languages__and__contacts {
          max-width: 769px;
        }

        &__hamburger__box {
          display: flex;
        }

        .header__hamburger {
          border: 1px solid #ffffff;
          background-color: #ffffff;

          &::before, &::after {
            content: '';
            border: 1px solid #ffffff;
            background-color: #ffffff;
          }
        }

        &__logo__link {
          max-width: 425px;
          text-align: start;
        }

        &__dot, &__address, &__facebook, &__nav {
          display: none;
        }

        &__languages {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        &__language {
          color: #B3B3BA;
        }

        &__language:hover, &__active {
          color: #FFFFFF;
        }

        &__telephone {
          color: #B3B3BA;
        }
      }

      .introduce {

        &__services__item {
          align-items: start;
          text-align: start;
        }

        &__services__title {
          font-size: 32px;
          line-height: 38px;
        }

        &__services__text {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }

    .second__background {
      padding: 180px 0 20px;

      .services {

        &__undertitle {
          font-size: 18px;
          line-height: 21px;
        }

        &__full__list {
          flex-direction: column;
          gap: 0;
        }

        &__left__list, &__right__list {
          padding: 0 20px;
        }
      }
    }
  }

  .shadows__section {

    .shadow1 {
      max-width: 385px;
    }

    .shadow2 {
      max-width: 345px;
    }
  }

  .case__section {
    padding-top: 20px;

    .case {
      justify-content: center;

      div.case__item__mob {
        min-height: 0;
      }

      &__item__tablet {
        max-width: 380px;
      }

      &__paragraph {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  .publications__section {
    padding-top: 20px;
    margin: 0 auto;

    .publications__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    .publications {
      row-gap: 20px;
      justify-content: center;

      &__img {
        max-width: 525px;
      }

      &__border__bottom, &__description {
        display: none;
      }

      &__card {
        max-width: 525px;
        min-height: 0;
        max-height: 500px;
        margin-top: 0;
      }

      &__card5 {
        overflow: visible;
      }

      &__card6 {
        overflow: visible;
      }
    }
  }

  .shadow3__section {
    position: static;
    background: none;
    min-height: 130px;
    margin-top: 0;
    background: #F5F5FA;

    &__bottom {
      transform: translate(-50%, 80%);
    }
  }

}

@media screen and (min-width: 425px) and (max-width: 555px) {

  .shadows__section {

    .shadow1 {
      max-width: 515px;
    }

    .shadow2 {
      max-width: 426px;
    }
  }
}

@media screen and (min-width: 555px) and (max-width: 769px) {

  .shadows__section {

    .shadow1 {
      max-width: 720px;
    }

    .shadow2 {
      max-width: 515px;
    }
  }

  .case__section {
    padding-top: 20px;

    .case {
      align-items: end;

      &__item__tablet {
        max-width: 230px;
      }

      div.case__item__mob {
        min-height: 0;
      }

      &__paragraph {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .background__section {

    .first__background {

      .header {
        flex-direction: column-reverse;
        gap: 20px;
        position: relative;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;

        &__content {
          max-width: 950px;
        }

        &__languages__and__contacts {
          max-width: 950px;
        }

        &__hamburger__box {
          display: flex;
        }

        .header__hamburger {
          border: 1px solid #ffffff;
          background-color: #ffffff;

          &::before, &::after {
            content: '';
            border: 1px solid #ffffff;
            background-color: #ffffff;
          }
        }

        &__logo__link {
          max-width: 425px;
          text-align: start;
        }

        &__dot, &__address, &__facebook, &__nav {
          display: none;
        }

        &__languages {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        &__language {
          color: #B3B3BA;
        }

        &__language:hover, &__active {
          color: #FFFFFF;
        }

        &__telephone {
          color: #B3B3BA;
        }
      }

      .introduce {

        &__services__item {
          align-items: start;
          text-align: start;
        }

        &__services__title {
          font-size: 32px;
          line-height: 38px;
        }

        &__services__text {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }

    .second__background {
      padding: 180px 0 20px;

      .services {

        &__undertitle {
          font-size: 18px;
          line-height: 21px;
        }

        &__full__list {
          flex-direction: column;
          gap: 0;
        }

        &__left__list, &__right__list {
          padding: 0 20px;
        }
      }
    }
  }

  .shadows__section {

    .shadow1 {
      max-width: 950px;
    }

    .shadow2 {
      max-width: 720px;
    }
  }

  .case__section {
    padding-top: 20px;

    .case {
      justify-content: center;
      align-items: end;

      div.case__item__mob {
        min-height: 0;
      }

      &__item4, &__item5 {
        border-top: none;
      }

      &__item__tablet {
        max-width: 300px;
      }

      &__paragraph {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  .publications__section {
    padding-top: 20px;
    margin: 0 auto;

    .publications__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    .publications {
      row-gap: 20px;
      justify-content: center;

      &__img {
        max-width: 335px;
      }

      &__border__bottom, &__description {
        display: none;
      }

      &__card {
        max-width: 335px;
        min-height: auto;
        max-height: 500px;
      }

      &__card3 {
        margin-top: -170px;
      }

      &__card4 {
        margin-top: 0;
      }

      &__card5 {
        overflow: visible;
        margin-top: -125px;
      }

      &__card6 {
        overflow: visible;
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1370px) {

  .shadows__section {

    .shadow1 {
      max-width: 1330px;
    }

    .shadow2 {
      max-width: 951px;
    }
  }

  .case__section {
    padding-top: 20px;

    .case {
      justify-content: center;
      align-items: end;

      div.case__item__mob {
        min-height: 0;
      }

      &__item__tablet {
        max-width: 400px;
      }

      &__paragraph {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  .publications__section {
    padding-top: 20px;
    margin: 0 auto;

    .publications__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    .publications {
      row-gap: 20px;
      justify-content: center;

      &__img {
        max-width: 335px;
      }

      &__border__bottom, &__description {
        display: none;
      }

      &__card {
        max-width: 335px;
        min-height: auto;
        max-height: 500px;
      }

      &__card3 {
        margin-top: -170px;
      }

      &__card4 {
        margin-top: 0;
      }

      &__card5 {
        overflow: visible;
        margin-top: -125px;
      }

      &__card6 {
        overflow: visible;
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 1115px) and (max-width: 1370px) {

  .publications__section {
    padding-top: 20px;
    margin: 0 auto;

    .publications__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    .publications {
      row-gap: 20px;
      justify-content: center;

      &__img {
        max-width: 335px;
      }

      &__border__bottom, &__description {
        display: block;
      }

      &__card {
        max-width: 335px;
        min-height: auto;
        max-height: 500px;
      }

      &__card3 {
        margin-top: 0;
      }

      &__card4 {
        margin-top: -165px;
      }

      &__card5 {
        overflow: hidden;
        margin-top: -40px;
        max-height: 260px;
      }

      &__card6 {
        overflow: hidden;
        margin-top: 0;
        max-height: 260px;
      }
    }
  }

}