@font-face {
  src: url("../fonts/TTNorms/TTNorms-Medium.woff");
  font-family: "TTNorms";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/TTNorms/TTNorms-Regular.woff");
  font-family: "TTNorms";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/TTNorms/TTNorms-Bold.woff");
  font-family: "TTNorms";
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "TTNorms", sans-serif;
  color: #ffffff;
}

a {
  display: inline-block;
  text-decoration: none;
}

.base__container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  src: url("../fonts/TTNorms/TTNorms-Medium.woff");
  font-family: "TTNorms";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/TTNorms/TTNorms-Regular.woff");
  font-family: "TTNorms";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/TTNorms/TTNorms-Bold.woff");
  font-family: "TTNorms";
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "TTNorms", sans-serif;
  color: #ffffff;
}

a {
  display: inline-block;
  text-decoration: none;
}

.base__container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo__wrapper .header__hamburger__box {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 10px 7px;
  width: 32px;
  height: 32px;
}
.header__logo__wrapper .header__hamburger__box:active {
  background: #EDEDF7;
  border-radius: 12px;
}
.header__logo__wrapper .header__hamburger__box .header__hamburger {
  display: block;
  border: 1px solid #323264;
  background-color: #323264;
  width: 18px;
  position: relative;
}
.header__logo__wrapper .header__hamburger__box .header__hamburger::before, .header__logo__wrapper .header__hamburger__box .header__hamburger::after {
  content: "";
  border: 1px solid #323264;
  background-color: #323264;
  width: 16px;
  position: absolute;
  left: -1px;
}
.header__logo__wrapper .header__hamburger__box .header__hamburger::before {
  top: 6px;
}
.header__logo__wrapper .header__hamburger__box .header__hamburger::after {
  bottom: 6px;
}
.header__logo__wrapper__logo__link {
  width: 100%;
  max-width: 155px;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  max-width: 564px;
}
.header__languages__and__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 564px;
}
.header__languages {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 425px;
}
.header__language {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
}
.header__active__languages {
  padding: 5px;
  background: #F0145A;
  border-radius: 8px;
}
.header__language:hover {
  padding: 5px;
  background: #EDEDF7;
  border-radius: 8px;
  color: #B3B3BA;
}
.header__address {
  font-size: 16px;
  line-height: 19px;
}
.header__telephone {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.header__link {
  font-size: 18px;
  line-height: 21px;
}
.header__facebook svg {
  fill: #FFFFFF;
}
.header__facebook:hover svg {
  fill: #24A3FF;
}

@font-face {
  src: url("../fonts/TTNorms/TTNorms-Medium.woff");
  font-family: "TTNorms";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/TTNorms/TTNorms-Regular.woff");
  font-family: "TTNorms";
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url("../fonts/TTNorms/TTNorms-Bold.woff");
  font-family: "TTNorms";
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "TTNorms", sans-serif;
  color: #ffffff;
}

a {
  display: inline-block;
  text-decoration: none;
}

.base__container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  background: #FFFFFF;
  padding-bottom: 40px;
}
.footer:hover {
  background: #F5F5FA;
}
.footer__separator {
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 30px;
}
.footer__contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
}
.footer__address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
.footer__contacts__tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 397px;
}
.footer__facebook svg {
  fill: #24A3FF;
}
.footer__facebook:hover svg {
  fill: #F0145A;
}
.footer__dot {
  display: inline-block;
}
.footer__address__text {
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}
.footer__address__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer__tel__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
}
.footer__mail__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
}
.footer__address__link:hover, .footer__mail__link:hover {
  color: #F0145A;
}
.footer__copy__text {
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
}

@media screen and (max-width: 426px) {
  .footer {
    padding-bottom: 118px;
  }
  .footer__contacts__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .footer__contacts {
    gap: 20px;
    margin: 0 auto;
    max-width: 335px;
  }
  .footer__address {
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }
  .footer__contacts__tel {
    flex-direction: column;
    max-width: 335px;
    gap: 20px;
  }
  .footer__dot {
    display: none;
  }
  .footer__copy {
    width: 100%;
    max-width: 335px;
    padding: 0 40px;
    margin: 0 auto;
  }
  .footer__copy__text {
    text-align: center;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer {
    padding-bottom: 118px;
  }
  .footer__contacts__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .footer__contacts {
    gap: 20px;
    max-width: 335px;
    margin: 0 auto;
  }
  .footer__address {
    margin: 0 auto;
    flex-direction: column;
    gap: 10px;
  }
  .footer__contacts__tel {
    flex-direction: column;
    max-width: 335px;
    gap: 20px;
  }
  .footer__dot {
    display: none;
  }
  .footer__copy {
    width: 100%;
    max-width: 335px;
    padding: 0 40px;
  }
  .footer__copy {
    margin: 0 auto;
  }
  .footer__copy__text {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding-bottom: 80px;
  }
  .footer__contacts__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.header__and__services__section {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
}
.header__and__services__section .header {
  padding-top: 50px;
  padding-bottom: 73px;
}
.header__and__services__section .header__link:hover, .header__and__services__section .header__link__active {
  border-bottom: 2px solid #ffffff;
}
.header__and__services__section .services__first__link {
  display: none;
}
.header__and__services__section .services__title {
  width: 100%;
  max-width: 768px;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90deg, #f0145a, #ef8080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F0145A;
  margin-bottom: 68px;
}
.header__and__services__section .services__grid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-rows: auto;
  gap: 40px;
}
.header__and__services__section .services__grid__item {
  width: 100%;
  max-width: 413px;
  display: flex;
  flex-direction: column;
}
.header__and__services__section .services__img__and__link {
  display: flex;
  flex-direction: column;
}
.header__and__services__section .services__icon {
  width: 100%;
  max-width: 92px;
  margin-bottom: 20px;
}
.header__and__services__section .services__link {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
  margin-bottom: 15px;
}
.header__and__services__section .services__text {
  font-size: 18px;
  line-height: 26px;
}

.shadows__section .shadow1 {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  min-height: 10px;
  background: #CACADB;
  border-radius: 0 0 12px 12px;
  margin: 0 auto;
}
.shadows__section .shadow2 {
  width: 100%;
  max-width: 1360px;
  height: 100%;
  min-height: 10px;
  background: #E7E7F2;
  border-radius: 0 0 12px 12px;
  margin: 0 auto;
}

.case__section {
  padding-top: 40px;
  padding-bottom: 20px;
}
.case__section .case {
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  align-content: end;
}
.case__section .case__hover {
  display: none;
  background: #EDEDF7;
  width: 100%;
  min-width: 1285px;
  padding: 40px 200px;
}
.case__section .case__hover__text {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.case__section .case__all__items:hover + .case__hover {
  display: flex;
  background: #EDEDF7;
}
.case__section .case__item {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 433px;
}
.case__section .case__item__mob {
  padding: 20px;
}
.case__section .case__successful {
  border: 1px solid #FFFFFF;
  padding: 20px;
}
.case__section .case__item1 {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 198px;
}
.case__section .case__title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
}
.case__section .case__paragraph {
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  margin-bottom: 20px;
}
.case__section .case__name {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}
.case__section .case__item2 {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 255px;
  width: 100%;
  max-width: 420px;
}
.case__section .case__item3 {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 255px;
  width: 100%;
  max-width: 433px;
}
.case__section .case__item4 {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 198px;
  width: 100%;
  max-width: 320px;
}
.case__section .case__item5 {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 198px;
  width: 100%;
  max-width: 453px;
}
.case__section .case__item6 {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 198px;
  width: 100%;
  max-width: 500px;
}

.clients__section {
  padding-top: 10px;
}
.clients__section .clients__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.clients__section .clients__title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
}
.clients__section .clients__grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}
.clients__section .clients__img {
  width: 100%;
  max-width: 360px;
  height: 100%;
}
.clients__section .clients__item {
  height: 100%;
  max-height: 120px;
}

.footer {
  padding-top: 40px;
}

@media screen and (max-width: 426px) {
  .header__and__services__section .header {
    flex-direction: column-reverse;
    gap: 20px;
    position: relative;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__and__services__section .header__hamburger__box {
    display: flex;
  }
  .header__and__services__section .header .header__hamburger {
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  .header__and__services__section .header .header__hamburger::before, .header__and__services__section .header .header__hamburger::after {
    content: "";
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  .header__and__services__section .header__logo__link {
    max-width: 425px;
    text-align: start;
  }
  .header__and__services__section .header__dot, .header__and__services__section .header__address, .header__and__services__section .header__facebook, .header__and__services__section .header__nav {
    display: none;
  }
  .header__and__services__section .header__languages {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__and__services__section .header__language {
    color: #B3B3BA;
  }
  .header__and__services__section .header__language:hover, .header__and__services__section .header__active {
    color: #FFFFFF;
  }
  .header__and__services__section .header__telephone {
    color: #B3B3BA;
  }
  .header__and__services__section .services__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .header__and__services__section .services__grid {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
  .header__and__services__section .services__grid__item {
    max-width: 335px;
  }
  .header__and__services__section .services__img__and__link {
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }
  .header__and__services__section .services__link {
    font-size: 18px;
    line-height: 21px;
  }
  .header__and__services__section .services__text {
    font-size: 16px;
    line-height: 22px;
  }
  .header__and__services__section .services__icon {
    min-width: 64px;
  }

  .shadows__section .shadow1 {
    max-width: 335px;
  }
  .shadows__section .shadow2 {
    max-width: 295px;
  }

  .case__section {
    padding-top: 20px;
  }
  .case__section .case {
    align-content: center;
    flex-direction: column;
  }
  .case__section .case__item4 {
    max-width: 380px;
  }
  .case__section .case div.case__item__mob {
    min-height: 0;
  }
  .case__section .case__paragraph {
    font-size: 18px;
    line-height: 21px;
  }

  .clients__section .clients__container {
    max-width: 425px;
  }
  .clients__section .clients__grid {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .header__and__services__section .header {
    flex-direction: column-reverse;
    gap: 20px;
    position: relative;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__and__services__section .header__content {
    max-width: 769px;
  }
  .header__and__services__section .header__languages__and__contacts {
    max-width: 769px;
  }
  .header__and__services__section .header__hamburger__box {
    display: flex;
  }
  .header__and__services__section .header .header__hamburger {
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  .header__and__services__section .header .header__hamburger::before, .header__and__services__section .header .header__hamburger::after {
    content: "";
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  .header__and__services__section .header__logo__link {
    max-width: 425px;
    text-align: start;
  }
  .header__and__services__section .header__dot, .header__and__services__section .header__address, .header__and__services__section .header__facebook, .header__and__services__section .header__nav {
    display: none;
  }
  .header__and__services__section .header__languages {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__and__services__section .header__language {
    color: #B3B3BA;
  }
  .header__and__services__section .header__language:hover, .header__and__services__section .header__active {
    color: #FFFFFF;
  }
  .header__and__services__section .header__telephone {
    color: #B3B3BA;
  }
  .header__and__services__section .services__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .header__and__services__section .services__grid {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
  .header__and__services__section .services__grid__item {
    max-width: 335px;
  }
  .header__and__services__section .services__img__and__link {
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }
  .header__and__services__section .services__link {
    font-size: 18px;
    line-height: 21px;
  }
  .header__and__services__section .services__text {
    font-size: 16px;
    line-height: 22px;
  }
  .header__and__services__section .services__icon {
    min-width: 64px;
  }

  .shadows__section .shadow1 {
    max-width: 385px;
  }
  .shadows__section .shadow2 {
    max-width: 345px;
  }

  .case__section {
    padding-top: 20px;
  }
  .case__section .case {
    justify-content: center;
  }
  .case__section .case div.case__item__mob {
    min-height: 0;
  }
  .case__section .case__item__tablet {
    max-width: 380px;
  }
  .case__section .case__paragraph {
    font-size: 18px;
    line-height: 21px;
  }

  .clients__section .clients__container {
    max-width: 769px;
  }
  .clients__section .clients__grid {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}
@media screen and (min-width: 425px) and (max-width: 555px) {
  .shadows__section .shadow1 {
    max-width: 515px;
  }
  .shadows__section .shadow2 {
    max-width: 426px;
  }

  .clients__section .clients__container {
    max-width: 556px;
  }
  .clients__section .clients__grid {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
}
@media screen and (min-width: 555px) and (max-width: 769px) {
  .shadows__section .shadow1 {
    max-width: 720px;
  }
  .shadows__section .shadow2 {
    max-width: 515px;
  }

  .case__section {
    padding-top: 20px;
  }
  .case__section .case {
    align-items: end;
  }
  .case__section .case__item__tablet {
    max-width: 230px;
  }
  .case__section .case div.case__item__mob {
    min-height: 0;
  }
  .case__section .case__paragraph {
    font-size: 18px;
    line-height: 21px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__and__services__section .header {
    flex-direction: column-reverse;
    gap: 20px;
    position: relative;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__and__services__section .header__hamburger__box {
    display: flex;
  }
  .header__and__services__section .header .header__hamburger {
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  .header__and__services__section .header .header__hamburger::before, .header__and__services__section .header .header__hamburger::after {
    content: "";
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
  .header__and__services__section .header__logo__link {
    max-width: 950px;
    text-align: start;
  }
  .header__and__services__section .header__content {
    max-width: 950px;
  }
  .header__and__services__section .header__languages__and__contacts {
    max-width: 950px;
  }
  .header__and__services__section .header__dot, .header__and__services__section .header__address, .header__and__services__section .header__facebook, .header__and__services__section .header__nav {
    display: none;
  }
  .header__and__services__section .header__languages {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__and__services__section .header__language {
    color: #B3B3BA;
  }
  .header__and__services__section .header__language:hover, .header__and__services__section .header__active {
    color: #FFFFFF;
  }
  .header__and__services__section .header__telephone {
    color: #B3B3BA;
  }
  .header__and__services__section .services__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .header__and__services__section .services__grid {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
  .header__and__services__section .services__grid__item {
    min-width: 0;
    max-width: 380px;
  }

  .shadows__section .shadow1 {
    max-width: 950px;
  }
  .shadows__section .shadow2 {
    max-width: 720px;
  }

  .case__section {
    padding-top: 20px;
  }
  .case__section .case {
    justify-content: center;
    align-items: end;
  }
  .case__section .case div.case__item__mob {
    min-height: 0;
  }
  .case__section .case__item4, .case__section .case__item5 {
    border-top: none;
  }
  .case__section .case__item__tablet {
    max-width: 300px;
  }
  .case__section .case__paragraph {
    font-size: 18px;
    line-height: 21px;
  }

  .clients__section .clients__container {
    max-width: 992px;
  }
  .clients__section .clients__grid {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}
@media screen and (min-width: 991px) and (max-width: 1370px) {
  .shadows__section .shadow1 {
    max-width: 1330px;
  }
  .shadows__section .shadow2 {
    max-width: 951px;
  }

  .case__section {
    padding-top: 20px;
  }
  .case__section .case {
    justify-content: center;
    align-items: end;
  }
  .case__section .case div.case__item__mob {
    min-height: 0;
  }
  .case__section .case__item__tablet {
    max-width: 400px;
  }
  .case__section .case__paragraph {
    font-size: 18px;
    line-height: 21px;
  }
}

/*# sourceMappingURL=services.css.map */
